
body {
    margin: 0;
    font-family: sans-serif;
}

body, html {
    /* margin: 20px; */
    font-family: sans-serif;
    background-color: white;
    color:gray;
    lighting-color:blue;
    outline-color:white;
    text-align:center;
}
center{
    margin-left: auto;
    margin-right: auto;
    
}
table, th, td{
    border: 1px solid #02484d;
    border-spacing: 0;
    width: 33%;
    font-size:14px;
    margin-left: auto;
    margin-right: auto;
    border: .5px;
    border-style: solid;
    border-color: #02484d;
}

tr:nth-child(even) {
  background-color: white;
}

input[type=text], select {
  width: 50;
  padding: 12px 20px;
  /* margin: 8px 0; */
  display: inline-block;
  border: 1px solid #013438;
  border-radius: 6px;
  border-color: #013438;
  box-sizing: border-box;
  /* background-color: white; */
  color:white;
  /* margin-right: 40px; */

}

input[type=submit] {
  width: 50;
  background-color: #02484d;
  color: white;
  padding: 10px 20px;
  /* margin: 8px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #03282b;
  color:gray;
  
}

/* .button {
  background-color: #02484d;
  border: none;
  color: white;
  padding: 2px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #03282b;
  border: 4px;
  color: white;
  border-color: white;
  padding: 2px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  color:gray;
} */

center{
    margin-left: auto;
    margin-right: auto;
    
}
table, th, td{
    border: 1px solid #02484d;
    border-spacing: 0;
    width: 33%;
    font-size:14px;
    margin-left: auto;
    margin-right: auto;
    border: .5px;
    border-style: solid;
    border-color: #02484d;
}

tr:nth-child(even) {
  background-color: white;
}

input[type=text], select {
  width: 50;
  padding: 12px 20px;
  /* margin: 8px 0; */
  display: inline-block;
  border: 1px solid #013438;
  border-radius: 6px;
  border-color: #013438;
  box-sizing: border-box;
  /* background-color: white; */
  color:black;
  /* margin-right: 40px; */

}

input[type=submit] {
  width: 50;
  background-color: #02484d;
  color: white;
  padding: 10px 20px;
  /* margin: 8px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #03282b;
  color:gray;
  
}

.button {
  background-color: #02484d;
  border: none;
  color: white;
  padding: 2px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
}

.button:hover {
  background-color: #03282b;
  border: 4px;
  color: white;
  border-color: white;
  padding: 2px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  color:gray;
}




/* .column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} */



.column3 {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row3:after {
  content: "";
  display: table;
  clear: both;
}




/* .middle75 {
  width: 75%;
} */


.pad_lr_30 {
  padding: 0px 30px 0px 30px;
  }

/* .pad_lr_100 {
  padding: 0px 100px 0px 100px;
  } */


.spinning-image {
  width: 45px;
  height: 45px;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease;
}

.spinning-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spinning-image:hover img {
  animation-name: spinning-image-rotate;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spinning-image-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}



/* .pulsing-image {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease;
}

.pulsing-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.pulsing-image:hover img {
  transform: scale(1.2);
} */

/* .pulsing-image {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease;
} 

.pulsing-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.pulsing-image:hover img {
  transform: scale(1.1);
}
*/


/* .pulsing-image25 {
  width: 25px;
  height: 25px;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease;
}

.pulsing-image25 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.pulsing-image25:hover img {
  transform: scale(1.1);
}
*/



/* .pulsing-image27 {
  width: 27px;
  height: 27px;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease;
} 

.pulsing-image27 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.pulsing-image27:hover img {
  transform: scale(1.1);
}
  */




a {
  color: black;
  text-decoration: none; /* Optional: removes underline */
}

a:hover {
  color: #6aaa64; /* Change the color to blue on hover */
  transform: scale(1.03); /* Add scale effect on hover */
}



/* .hr_index {
  border: none;
  height: 1.3px;
  background-color: gray;
  width: 70%;
  margin: 0 auto;
} */


ul {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px; /* adjust this value to change the spacing */
}





/* .container {
  max-width: 800px;
  margin: 0 auto;
} */

/* .title {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
} */









.box {
  display: inline-block;
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  transition: transform 0.25s, background-color .25s;
}

.box:hover {
  background-color: #02484d;
  border-color: #ddd;
  transform: scale(1.015);
}

.box:hover a {
  color: white;
}

.box + .box {
  margin-top: 10px;
}
