
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='jj.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='jj.ico') }}" type="image/x-icon">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">JJ Apps</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pages
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/wordle">Wordle Solver</a>
                <a class="dropdown-item" href="/quordle">Quordle Solver</a>
                <a class="dropdown-item" href="/quordle_mobile">Quordle Solver (Mobile)</a>
                <a class="dropdown-item" href="/blossom">Blossom/Spelling Bee Solver</a>
                <a class="dropdown-item" href="/fixer">"Last Letter" Solver</a>
                <a class="dropdown-item" href="/antiwordle">Antiwordle Solver</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/stock_analysis">Stock Analysis</a>
                <a class="dropdown-item" href="/common_denominator">Common Denominator</a>
                <a class="dropdown-item" href="/any_word">Any Word Finder</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/task_mysql">To Do List (MySQL)</a>
                <a class="dropdown-item" href="/task_db">Task List (SQLite)</a>
                <a class="dropdown-item" href="/dogs">Dog Counter</a>
                <a class="dropdown-item" href="/youtube_trending">YouTube Trending</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/data_summary">Auto Data Summary</a>
                <a class="dropdown-item" href="/high_score">High Score (MySQL)</a>
                <a class="dropdown-item" href="/quill">Text Editor</a>
                <a class="dropdown-item" href="/espresso">Espresso Optimizer</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://github.com/applewjr/heroku_apps" target="_blank">
                <div class="pulsing-image25">
                  <img alt="GitHub" src="/static/github_logo4.png" width=25 height=25>
                </div>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/j-applewhite/" target="_blank">
                <div class="pulsing-image27">
                  <img alt="LinkedIn" src="/static/linkedin_logo.jpg" width=27 height=27>
                </div>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/J_R_Applewhite" target="_blank">
                <div class="pulsing-image27">
                    <img alt="Twitter" src="/static/twitter_logo.png" width=27 height=27>
                </div>
              </a>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link" href="https://www.jamesapplewhite.com/resume" target="_blank">
                <div class="pulsing-image27">
                    <img alt="Resume" src="/static/resume2.png" width=27 height=27>
                </div>
              </a>
            </li> -->

          </div>
      </nav>
      {% block content %}
      {% endblock %}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
