{% extends 'base.html' %}

{% block title %}Data Summary{% endblock %}

{% block content %}

<html>
  <head>
    <title>Data Summary of CSVs</title>
    <style>
      table {
          border-collapse: collapse;
          margin: 10px;
      }
      th, td {
          border: 1px solid black;
          padding: 5px;
          text-align: center;
      }
      th {
          background-color: lightgray;
      }
  </style>
</head>
<body>
  <center>
  <br>
  <h1>Data Summary of CSVs</h1>
  <br>
  <p>Import CSV functionality has been disbaled. I don't want to have to run through all necessary security measures.</p>
  <p>Choose instead a pre-loaded CSV in the dropdown.</p>
  <br>
  <form action="/data_summary" method="post" enctype="multipart/form-data">
    <label for="file">*Disabled* (.csv only):</label>
    <input type="file" name="file" id="file" accept=".csv">
    <br>
    <br>
    <select name="csv_pick">
      <option value="{{csv_pick_val}}">{{csv_pick_val}}</option>
      <option disabled>______</option>
      <option value="Realtor">Realtor</option>
      <option value="Titanic">Titanic</option>
      <option value="Diabetes">Diabetes</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Upload">
  </form>
  <br>

  <br>
  <br>
  <br>
  <p>{{ summary['shape'][1] }} columns, {{ summary['shape'][0] }} rows</p>

  <h2>Summary Statistics</h2>
    {{ summary['df_summ']|safe }}
    <br>
  <h2>Pairwise Correlations</h2>
  <table>
    <thead>
      <tr>
        <th>Column Pair</th>
        <th>Pearson Correlation</th>
        <h6>Top 10 correlations, sorted by highest absolute value</h6>
      </tr>
    </thead>
    <tbody>
      {% for pair, corr in summary['pairwise_correlations'].items() %}
        <tr>
          <td>{{ pair }}</td>
          <td>{{ corr }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <br>
  <h2>Correlation Heatmap</h2>
  <img src="data:image/png;base64,{{ heatmap_data }}" alt="Correlation Heatmap">

  <br>
  <br>
    <a href="/data_summary">
    <div class="spinning-image">
      <img alt="Reset" src="/static/reset_logo.png">
    </div>
  </a>
  </center>
  <br>
  <br>
  <br>  
</body>
</html>

{% endblock %}





















