{% extends 'base.html' %}

{% block title %}Dog Counter{% endblock %}

{% block head %}
<style>
    h1 { text-align: center; }
    .counter-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .counter-container p { font-size: 24px; margin-right: 10px; }
    .counter-container span { font-size: 24px; font-weight: bold; }
    .btn-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .btn-container button { margin: 0 10px; }
    button {
        font-size: 18px;
        padding: 10px 20px;
        background-color: #02484d;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }
    button:hover { background-color: #013438; }
</style>
<script>
    function setBaseValue() {
        var baseValue = prompt("Enter base value for the counter. It must be a number:");
        if (!baseValue) return;
        while (isNaN(baseValue)) {
            baseValue = prompt("Invalid input. Please enter a valid number:");
            if (!baseValue) return;
        }
        localStorage.setItem('counter', baseValue);
        document.getElementById('counter-display').innerHTML = baseValue;
    }
    function incrementCounter() {
        var counter = parseInt(localStorage.getItem('counter') || 0) + 1;
        localStorage.setItem('counter', counter);
        document.getElementById('counter-display').innerHTML = counter;
    }
    function decrementCounter() {
        var counter = parseInt(localStorage.getItem('counter') || 0) - 1;
        localStorage.setItem('counter', counter);
        document.getElementById('counter-display').innerHTML = counter;
    }
    window.onload = function() {
        var counter = localStorage.getItem('counter');
        if (counter) document.getElementById('counter-display').innerHTML = counter;
    }
</script>
{% endblock %}

{% block content %}
    <br>
    <h1>Dog Counter</h1>
    <p style="text-align: center">Live fast, count dogs</p>
    <div class="counter-container">
        <p>Dogs: <span id="counter-display">0</span></p>
    </div>
    <div class="btn-container">
        <button onclick="decrementCounter()">-</button>
        <button onclick="incrementCounter()">+</button>
    </div>
    <br>
    <div class="btn-container">
        <button onclick="setBaseValue()">Set Base</button>
    </div>
{% endblock %}
