{% extends 'base.html' %}

{% block title %}DB{% endblock %}

{% block content %}

<head>
    <title>Game</title>
</head>
<body>
    <h1>Game</h1>

    <form action="/high_score" method="POST">
        <label for="initials">Enter your initials:</label>
        <input type="text" id="initials" name="initials" maxlength="3" required><br><br>
        <label for="score">Enter your score:</label>
        <input type="number" id="score" name="score" required><br><br>
        <input type="submit" value="Submit">
    </form>

    <br>
    <h2>Top 5 High Scores</h2>
    <ul>
        {% for row in scores %}
        <li>{{ row[0] }}: {{ row[1] }}</li>
        {% endfor %}
    </ul>
</body>

{% endblock %}
