{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block content %}

<head>

</head>

<body>
    <form action="#" method="post">
        <center>
        <br>
        <h1 style="text-align: center">JJ Apps</h1>
        <hr style="width:50%;border: 1px dashed #d3d6da;">
        <br>
        <h3 style="text-align: center; color:#6aaa64">Game Solvers</h3>
        <a href="/wordle">Wordle Solver</a>
        <br>
        <br>
        <a href="/quordle">Quordle Solver</a>
        <br>
        <br>
        <a href="/fixer">"Last Letter" Solver</a>
        <br>
        <br>
        <a href="/wordle_example">Wordle/Quordle Solver Example</a>
        <br>
        <br>
        <a href="/blossom">Blossom/Spelling Bee Solver</a>
        <br>
        <br>
        <br>
        <h3 style="text-align: center; color:#6aaa64">Other Tools</h3>
        <a href="/stock_analysis">Stock Analysis (Beta)</a>
        <br>
        <br>
        <a href="/common_denominator">Common Denominator</a>
        <br>
        <br>
        <a href="/any_word">Any Word Finder</a>
        <br>
        <br>
        <br>
        <h3 style="text-align: center; color:#6aaa64">Databases and Storage</h3>
        <a href="/task_db">Task List (Database Test)</a>
        <br>
        <br>
        <a href="/dogs">Dog Counter</a>
        <br>
        <br>
        <br>
        </center>
    </form>
</body>

{% endblock %}




