{% extends 'base.html' %}

{% block title %}Stocks{% endblock %}

{% block content %}
<form action="#" method="post">
    <center>
    <h1 style="text-align: center;color:black">Stock Analysis</h1>
    <br>
    <p style="text-align: center; color:black">Stock function goes here</p>
    <br>
    <br>
    <a href="/">
        <img alt="Home" src="/static/home_logo.jpg" width=50 height=50>
    </a>
    <a href="/stock">
        <img alt="Reset" src="/static/reset_logo.png" width=45 height=45>
    </a>
    <a href="https://github.com/applewjr/heroku_apps" target="_blank">
        <img alt="GitHub" src="/static/github_logo.jpg" width=55 height=55>
    </a>
    <a href="https://twitter.com/J_R_Applewhite" target="_blank">
        <img alt="Twitter" src="/static/twitter_logo.png" width=40 height=40>
    </a>
    <br>
    <br>
    <br>
    </center>
</form>
{% endblock %}





















