{% extends 'base.html' %}

{% block title %}test graphs{% endblock %}

{% block content %}
<form action="#" method="post">
    <center>
    <br>
    <input type="text" name="xy_val" style="text-align: center;width: 200px;" value={{xy_val}}>
    <br>
    <br>
    <input type="submit" value="Calculate">
    <br>
    <br>
    <!-- <p style="text-align: center; color:black">{{return_val}}</p> -->
    <br>
    <br>
    <img src="/static/test.jpg" alt="test graph">
    <!-- <img src={{img}} alt="test graph"> -->
    <br>
    <br>
    <br>
    </center>
</form>
{% endblock %}





















