{% extends 'base.html' %}

{% block title %}test graphs{% endblock %}

{% block content %}
<form action="#" method="post">
    <center>
    <br>
    <input type="text" name="xy_val" style="text-align: center;width: 200px;" value={{xy_val}}>
    <br>
    <br>
    <input type="submit" value="Calculate">
    <br>
    <br>

    {% if return_val == 1 %}
    <!-- <img src="/static/test.jpg" alt="test graph"> -->
    <!-- <img src={{graph.show()}} alt="test graph"> -->
    graph
    {% endif %}

    <br>
    <br>
    <a href="/stock_graph_test">
        <img alt="Reset" src="/static/reset_logo.png" width=45 height=45>
    </a>
    <br>
    <br>
    <br>
    </center>
</form>
{% endblock %}





















