<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
</head>

{% extends 'base.html' %}

{% block title %}Stock Analysis{% endblock %}

{% block content %}
<form action="#" method="post">
    <center>
    <h1 style="text-align: center;color:black">Stock Analysis</h1>
    {% if valid_graph == 1 %}
    <br>
    <p style="text-align: center; color:black">Recommended Investing Amount: {{final_buy_out}}</p>
    <p style="text-align: center; color:black">Current Pred/Open^2 Value: {{pred_open_out}} (>1: value performs worse than prediction,  &lt;1: value performs better than prediction)</p>
    <canvas id="lineChart" width="900" height="400"></canvas>
    <script>
        var ctx = document.getElementById("lineChart").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ date | safe }}, // safe if ok because it's not user entered data
                datasets: [
                    {
                        label: "Stock Values",
                        data: {{ val | safe }}, // safe if ok because it's not user entered data
                        fill: false,
                        borderColor: "rgb(30,144,255)",
                        lineTension: 0.1
                    },
                    {
                        label: "Pred/Open^2",
                        data: {{ pred | safe }}, // safe if ok because it's not user entered data
                        fill: false,
                        borderColor: "rgb(255,140,0)",
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                response: false
            }
        });
    </script>
    {% endif %}
    <br>
    <br>
    <p style="text-align: center; color:black">Pick your ticker symbol of choice</p>
    <input type="text" name="stock_list_init" style="text-align: center;width: 80px;" value={{stock_list_init_val}}>
    <br>
    <br>
    <p style="text-align: center; color:black">What type of ticker is being chosen (the main difference is that crypto has no weekends or holidays off)</p>
    <p style="text-align: center; color:black">Options: 'stock', 'crypto', 'index'</p>
    <input type="text" name="trade_type" style="text-align: center;width: 80px;" value={{trade_type_val}}>
    <br>
    <br>
    <p style="text-align: center; color:black">Your investment amount</p>
    <input type="text" name="contrib_amt_init" style="text-align: center;width: 80px;" value={{contrib_amt_init_val}}>
    <br>
    <br>
    <p style="text-align: center; color:black">How far to look back in weeks (Can't extend further than the stock's history)</p>
    <input type="text" name="total_weeks" style="text-align: center;width: 80px;" value={{total_weeks_val}}>     
    <br>
    <br>
    <p style="text-align: center; color:black">Pred/open^2 value which should trigger increased investing</p>
    <input type="text" name="buyvalue" style="text-align: center;width: 80px;" value={{buyvalue_val}}>
    <br>
    <br>
    <p style="text-align: center; color:black">Pick the multiplier for the increased investing</p>
    <input type="text" name="multiplier" style="text-align: center;width: 80px;" value={{multiplier_val}}>
    <br>
    <br>
    <p style="text-align: center; color:black">Pick granularity of weeks (1: every week, 2: every other week, etc)</p>
    <input type="text" name="nth_week" style="text-align: center;width: 80px;" value={{nth_week_val}}>
    <br>
    <br>
    <p style="text-align: center; color:black">How far to look back to make each value prediction</p>
    <p style="text-align: center; color:black">Options: 'month', 'quarter', '2_quarter', 'year'</p>
    <input type="text" name="roll_days" style="text-align: center;width: 80px;" value={{roll_days_val}}>
    <br>
    <br>
    <p style="text-align: center; color:black">Which day of the week to key in on. 'Today' will only work if the stock is open today</p>
    <p style="text-align: center; color:black">Options: 'Today', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'</p>
    <input type="text" name="trade_dow" style="text-align: center;width: 80px;" value={{trade_dow_val}}>
    <br>
    <br>
    <br>
    <input type="submit" value="Calculate">
    <br>
    <br>
    <br>
    <br>
    </a>
    <a href="/stock_analysis">
        <img alt="Reset" src="/static/reset_logo.png" width=45 height=45>
    </a>
    <a href="https://twitter.com/J_R_Applewhite" target="_blank">
        <img alt="Twitter" src="/static/twitter_logo.png" width=40 height=40>
    </a>
    <br>
    <p style="text-align: center; color:black">Description: This strategy loosely follows the concept of mean reversion or regression to the mean. There is variance in the ups and downs, but the trend should generally follow the mean. If this is the case, why not algorithmically determine when the current price is well below the current trendline and capitalize on the dip by buying in at a higher amount.</p>
    <p style="text-align: center; color:black">Note: This strategy only takes into account long-term buying. No shorting or selling. You would only use this on stocks you believe will increase in value in the long term.</p>
    <p style="text-align: center; color:black">Beta: The values entered are very finicky and I have not yet developed dropdown menus of the allowed values or a mechanism of reporting which value entered is the problem point.</p>
    <br>
    <br>
    <br>
    </center>
</form>
{% endblock %}
</html>
