{% extends 'base.html' %}

{% block title %}Wordle Example{% endblock %}

{% block content %}
<form action="#" method="post">
    <center>
    <h1 style="text-align: center;color:black">Wordle/Quordle Example</h1>
    <br>
    <br>
    <br>
    <p style="text-align: center">Example for using this solver using "arose" as a first guess</p>
    <img src="static/wordle_example.jpg" alt="wordle">
    <br>
    <img src="static/wordle_solver_example.jpg" alt="wordle entries">
    <br>
    <br>
    <br>
    </center>
</form>
{% endblock %}





















